.container1{
     
    margin: 7rem 0;   
    height: 500px;
    background-color:rgb(50, 50, 50);
    
    

}

.con-1{
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px; */ 

    display: flex;
    justify-content: center;
    /* padding-left:  4rem; */
    /* border: 2px solid black; */

}

.con-i,.con-ii{
     
    border: 2px solid black;
    height: 400px;
    width: 450px;
    margin-top: 1rem;
}

.con-i{
    text-align: center;
    color: red;
    font-size: 3rem;
}

.con-ii{  
     text-align: center;
     padding-top: .1rem;


}

.con-ii>img{
    align-self: center;
    width: 430px;
    height: 390px;
}

.con-ii-1{
    color: rgb(138, 138, 138);
    font-size: 2.7rem;
    font-weight: 700;
}
.con-ii-2{
    font-size: 1.3rem;
}