.test{

  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
     
}
.t{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.test-1{
    
     width: 500px;
     height: 200px;
     background-color: green;
     border-radius: 20px;
     z-index: 4;
}

.test-1-1{
    display: flex;
    justify-content: space-evenly;
}

.test1-1 > img{
    border-radius: 20px;
    margin-top: 1rem;
    width: 120px;
    height: 90px;
}

.test1-2{
    margin-top: 2.2rem;
    
    /* text-align: center; */
}
.test1-2-1{
    font-size: 1.2rem;
    font-weight: 600;
}

.test1-2-2{
    color: rgb(53, 0, 0);
    /* font-size: 1rem; */
}
.test-1-2{
    margin-top: 1rem;
    font-size:1.1rem ;
    text-align: center;
    color: black;
}
